@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{
  var viewEdition = MyView.Edition;

  // 2. Include the framework if it isn't known
 @Kit.Page.Activate(condition: Kit.Css.IsUnknown, features: "Bootstrap5")

  // 3. Show warning for admin if koi.json is missing
  if (Kit.Css.IsUnknown && MyUser.IsSiteAdmin)
  {
    <div class='dnnFormMessage dnnFormWarning'>
      @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
      @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
    </div>
  }

  Kit.Page.Activate("FontAwesome5"); 
}

<link rel="stylesheet" href="@MyView.Path/dist/styles.min.css" @Kit.Page.AssetAttributes()/>